<style>
    #home table th:first-child, #home table th:last-child {
        width: 6em;
    }
</style>
<div id="home" class="container">
    <table class="table table-bordered table-striped">
        <caption>产品列表</caption>
        <thead>
        <tr>
            <th>产品编号</th>
            <th>名字</th>
            <th>描述</th>
            <th>单价</th>
            <th>库存状态</th>
        </tr>
        </thead>
        <tbody><a href="index.html#/products/' + products[i].productId + '"></a>
        <tr ng-repeat="product in products">
            <td><a ng-href="#products/{{product.productId}}"><span ng-bind="product.productId"></span></a></td>
            <td><span ng-bind="product.name"></span></td>
            <td><span ng-bind-html="product.description | rawHtml"></span></td>
            <td><span ng-bind="product.unitPrice"></span></td>
            <td><span ng-bind="product.inStock"></span></td>
        </tr>
        </tbody>
    </table>
</div>