<style>

</style>
<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#home"><i class="fa fa-home"></i> 首页</a></li>
            <li><a href="#home">产品列表</a></li>
            <li class="active"><span ng-bind="product.name"></span></li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div>
                <div class="thumbnail">
                    <img ng-src="/assets/img/travels/{{product.productId}}.jpg" alt="{{product.name}}">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Summary</div>
                <div>产品名：</div>
                <div><span ng-bind="product.name"></span></div>
                <div>价格：</div>
                <div><span ng-bind="product.unitPrice | currency:'￥'"></span></div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">产品详情</div>
                <div class="panel-body">
                    <p ng-bind-html="product.description | rawHtml"></p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span>价格：</span>
                        <span ng-bind="product.unitPrice | currency:'￥'"></span>
                    </li>
                    <li class="list-group-item">
                        <span>产品编号：</span>
                        <span ng-bind="product.productId"></span>
                    </li>
                    <div class="list-group-item">
                        <form ng-controller="AddToCartCtrl" ng-submit="addToCart()" ng-if="product.inStock" class="form-inline">
                            <div class="form-group">
                                <input type="number" ng-model="qty" placeholder="购买数量" class="form-control buy-qty">
                            </div>
                            <button type="submit" class="btn btn-primary">加入购物车</button>
                            <div class="form-group">
                                <div id="addToCartAlert" class="alert alert-success fade" role="alert">
                                    <p>产品已添加到购物车!</p>
                                </div>
                            </div>
                        </form>
                        <div ng-if="!product.inStock" class="out-of-stock">
                            暂无库存
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
