<style>
    #home {
        margin-top: 5em;
    }
</style>
<div id="home" class="container">
    <table class="table table-bordered table-striped">
        <caption>产品列表</caption>
        <thead>
        <tr>
            <th>productId</th>
            <th>name</th>
            <th>description</th>
            <th>unitPrice</th>
            <th>inStock</th>

        </tr>
        </thead>
        <tbody><a href="index.html#/products/' + products[i].productId + '"></a>
        <tr ng-repeat="product in products">
            <td><a ng-href="#product/{{product.productId}}"><span ng-bind="product.productId"></span></a></td>
            <td><span ng-bind="product.name"></span></td>
            <td><span ng-bind-html="product.description | rawHtml"></span></td>
            <td><span ng-bind="product.unitPrice"></span></td>
            <td><span ng-bind="product.inStock"></span></td>
        </tr>
        </tbody>
    </table>
</div>